.footer {
  max-width: 740px;
  margin: 0 auto;
  line-height: 31px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 55px;
}

.author-bio {
  padding-left: 25px;
}

.author-bio a {
  color: #2980b9;
}

@media (max-width: 800px) {
  .author-bio {
    padding-left: 15px;
  }
}